aicspylibczi>=3.3.1
betterproto==2.0.0b7
betterproto[compiler]==2.0.0b7
bioio
bioio-czi
bioio-imageio
bioio-ome-tiff
bioio-ome-zarr
czmodel[pytorch]>=5
cztile
czitools
grpclib
loguru
mowidget
napari-assistant
napari-brightness-contrast
napari-clusters-plotter
napari-crop
napari-czann-segment
napari-czitools
napari-layer-details-display
napari-ome-zarr
napari-plugin-search
napari-simpleitk-image-processing
napari-skimage-regionprops
ngff-zarr
ngff-zarr[dask-image]
ngff-zarr[validate]
onnxruntime-gpu==1.19.0
pylibCZIrw
ryomen
tiler
wigglystuff